.form-wrapper {
  .wrapper-common {
    margin: 50px;
  }
  .text-field {
    float: left;
  }
  .input-field {
    float: right;
  }

  .restaurant-name-wrapper {
    .dropdown {
      float: right;
      &.open {
        .dropdow-menu {
          display: block;
        }
      }

      .dropdown-menu {
        display: none;
      }
    }
  }

  .street-address-wrapper {

  }

  .area-wrapper {

  }

  .city-wrapper {

  }

  .country-wrapper {

  }

  .restaurant-type-wrapper {

  }
}

.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

