<div class="form-wrapper">
  <div class="restaurant-name-wrapper wrapper-common clearfix">
    <div class="text-field">Restaurant Name:</div>
    <div class="dropdown" dropdown [dropdownToggle]="false">
      <input id="restaurant-name-input" class="input-field" placeholder="Enter name or location" dropdown-open (input)="onRestaurantNameInputChange($event)">
      <div class="dropdown-menu">
        <ul>
          <li *ngFor="let singleResult of autoCompleteResults;let i = index" (click)="selectRestaurantNameFromDropdown(i)"> 
            {{ singleResult.search_name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="street-address-wrapper wrapper-common clearfix">
    <div class="text-field">Street Address:</div>
    <input id="restaurant-name-input" class="input-field" [(ngModel)]="dataService.selectedResult.address">
  </div>
  <div class="area-wrapper wrapper-common clearfix">
    <div class="text-field">Area:</div>
    <input id="restaurant-name-input" class="input-field" [(ngModel)]="dataService.selectedResult.area">
  </div>
  <div class="city-wrapper wrapper-common clearfix">
    <div class="text-field">City:</div>
    <input id="restaurant-name-input" class="input-field" [(ngModel)]="dataService.selectedResult.city">
  </div>
  <div class="country-wrapper wrapper-common clearfix">
    <div class="text-field">Country:</div>
    <input id="restaurant-name-input" class="input-field" [(ngModel)]="dataService.selectedResult.country">
  </div>
  <div class="restaurant-type-wrapper wrapper-common clearfix">
    <div class="text-field">Restaurant Type</div>
    <ng-multiselect-dropdown
      [placeholder]="'Restaurant Type'"
      [data]="restaurantType"
      [(ngModel)]="restaurantTypeSelectedItems"
      [settings]="multiSelectDropdownSettings">
    </ng-multiselect-dropdown>
  </div>
</div>
