.form-wrapper {
  .wrapper-common {
    margin: 50px;
  }
  .text-field {
    float: left;
  }
  .input-field {
    float: right;
  }

  .restaurant-name-wrapper {
    .dropdown {
      float: right;

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 75px;
        z-index: 9999;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 1px 5px #959595;
      }

      &.open {
        .dropdown-menu {
          display: block;
        }
      }
    }
  }

  .next-button {
    margin:0 auto;
    display:block;
  }

  .multi-select-dropdown {
    float: right;
    width: 200px;
  }
}

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999; 
  background: rgba(0,0,0,.5); 

  .loader-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
}

.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

