<div class="form-wrapper">
  <div class="restaurant-name-wrapper">
    <div class="text-field">Restaurant Name:</div>
    <div class="dropdown" dropdown [dropdownToggle]="false">
      <input id="restaurant-name-input" class="input-field" placeholder="Enter name or location" dropdown-open (input)="onRestaurantNameInputChange($event)">
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="street-address-wrapper">
    <div class="text-field">Street Address:</div>
    <input id="restaurant-name-input" class="input-field">
  </div>
  <div class="area-wrapper">
    <div class="text-field">Area:</div>
    <input id="restaurant-name-input" class="input-field">
  </div>
  <div class="city-wrapper">
    <div class="text-field">City:</div>
    <input id="restaurant-name-input" class="input-field">
  </div>
  <div class="country-wrapper">
    <div class="text-field">Country:</div>
    <input id="restaurant-name-input" class="input-field">
  </div>
  <div class="restaurant-type-wrapper">
    <div class="text-field">Restaurant Type</div>
    <ngx-select-dropdown></ngx-select-dropdown>
  </div>
</div>
